/**
*	Palette
*	Green #6D9788
* Navy  #1E2528 & rgba(30, 37, 40, 0.5)
* Deep Red #7E1C13
* Bright Red #BF0A0D
* Tan #E6E1C2
**/

/**
*	General Styles
**/
@font-face {
	font-family: 'Nexa Bold';
	src: '../fonts/Nexa Bold.otf';

}

@font-face {
	font-family: 'Nexa Light';
	src: '../fonts/Nexa Light.otf';
}

.full-width {
	clear: both;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

.row {
	min-width: 100% !important;
}

.padded {
	padding: 0px 30px;
}

h1 {
	color: white;
	font-family: 'Nexa Bold';
	font-size: 62px;
}

h2 {
	font-family: 'Nexa Bold';
	font-size: 24px;
}

.button {
	background-color: #BF0A0D;
	box-shadow: 5px 5px 0px 1px #7E1C13;
	float: right;
	font-family: 'Nexa Bold';
	font-size: 18px;
	opacity: 0.9;
}

.button:hover {
	background-color: #BF0A0D;
	opacity: 1;
}

.button:active, .button:visited, .button:focus {
	background-color: #BF0A0D;
}

h3 {
	font-family: 'Nexa Bold';
	font-size: 18px;
}

.white-subhead {
	color: white;
}

.blue-subhead {
	color: #1E2528;
}

.main-content {
	background-color: white;
	color: #1E2528;
	font-family: 'Lato';
	font-size: 14px;
}

.content img {
	/*border: solid 1px #1E2528;*/
	box-shadow: 6px 6px 0px -1px #E6E1C2;
	margin: 10px 0px;
}

/**
* Navigation
**/
#hamburger {
	float: right;
	margin: 45px 0;
}

#top-nav {
	height: 100px;
}

#top-nav ul {
	float: right;
	margin: 45px 0;
}

nav a {
	color: #1E2528;
}

nav a:hover {
	color: #BF0A0D;
}

#top-nav ul li {
	display: inline;
	font-family: 'Nexa Bold';
	font-size: 18px;
	list-style: none;
	position: relative;
	text-transform: uppercase;
}

#mobile-nav ul {
	margin: 0;
	list-style: none;
}

#mobile-nav li {
	text-align: center;
	border-bottom: 1px solid #1E2528;
	width: 100%;
}

#logo {
	margin-top: 10px;
	/*position: absolute;*/
}

@media only screen (max-width: 40em) {
	#logo {
		margin-top: 10px;
		position: static;
	}

	#top-nav {
		height: 200px;
	}
}

#bruh {
	background-color: #6D9788;
}
/**
* Sidebar
**/
#sidebar-container {
	background-color: #6D9788;
}
/**
* Billboards
**/
.billboard {
	clear: both;
}

.cta {
	width: 75%;
}

.overlay {
	background-color: rgba(30, 37, 40, 0.5);
	height: 100%;
	padding: 50px 0px;
	width: 100%;
}

#home .billboard {
	/* background-image: url(); */
	background-size: cover;
}

.billboard-text {
	color: white;
	font-family: 'Lato';
	font-size: 32px;
	font-weight: 200;
	width: 80%;
}

/**
* Footer
**/
footer {
	color: white;
	background-color:	#1E2528;
	padding: 45px 30px;
	clear: both;
}
